/* public/css/master.css */

.solicitud .solicitud-form,
.solicitud-index ul{
 max-width: 500px;
}
.solicitud h2{
 color: tomato;
}
.solicitud .solicitud-form label,
.solicitud-show label{
 display: inline-block;
 width: 50px;
}
.solicitud .solicitud-menu form{
 display: inline-block;
}
