<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-about">
      <h1>About</h1>
      <P>CTA Paraguay-Corea <a href="https://es-la.facebook.com/CTA-Paraguay-Corea-1603915019860220/">faceboooook</a> Jaha!</p>
    </div>
  </body>
</html>
