<!-- views/home/about.ejs -->

<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>
  <div class="container home home-about">
   <h1>About</h1>
   <h2>Hasta este viernes, el 20 de octubre de 2017.</h2>
   <h2>Publique el título, el autor y el año publicado de los libros que necesita.</h2>
   <h3>Pero los libros deberían tratarse de la ingeniería informática.</h3>
   <h2>Haga clic en el botón "New", por favor.</h2>
  </div>
 </body>
</html>
