<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container">
  <h2>PLAN DE SEMANA</h2>
  <p>DESDE MARTES, EL 21 DE NOVIEMBRE, 2017</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>HORARIO</th>
        <th>OBJETO</th>
        <th>LUNES</th>
        <th>MARTES</th>
        <th>MIÉRCOLES</th>
        <th>JUEVES</th>
        <th>VIERNES</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>07:00~12:00</td>
        <td></td>
        <td>Preparar las clases</td>
        <td>Preparar las clases</td>
        <td>Preparar las clases</td>
        <td>Preparar las clases</td>
        <td>Preparar las clases</td>
      </tr>
      <tr>
        <td>13:00~15:00</td>
        <td>Clases para Profesores</td>
        <td></td>
        <td><a href="http://mean201711.herokuapp.com">[CLASE] Acerca de MEAN</a></td>
        <td></td>
        <td><a href="http://mean201711.herokuapp.com">[CLASE] Acerca de MEAN</a></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <br><br><br>
  <p>DESDE LUNES, EL 5 DE FEBRERO, 2018</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>HORARIO</th>
          <th>OBJETO</th>
          <th>LUNES</th>
          <th>MARTES</th>
          <th>MIÉRCOLES</th>
          <th>JUEVES</th>
          <th>VIERNES</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>07:00~12:00</td>
          <td>Clases para Alumnos</td>
          <td><a href="http://mean201711.herokuapp.com">[CLASE] Acerca de MEAN</a></td>
          <td>Preparar las clases</td>
          <td><a href="http://mean201711.herokuapp.com">[CLASE] Acerca de MEAN</a></td>
          <td>Preparar las clases</td>
          <td><a href="http://mean201711.herokuapp.com">[CLASE] Acerca de MEAN</a></td>
        </tr>
        <tr>
          <td>13:00~15:00</td>
          <td>Clases para Profesores</td>
          <td></td>
          <td><a href="http://git201801.herokuapp.com">[CLASE] Básico de GIT</a></td>
          <td></td>
          <td><a href="http://git201801.herokuapp.com">[CLASE] Básico de GIT</a></td>
          <td></td>
        </tr>
      </tbody>
    </table>
</div>
  </body>
</html>
