<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-welcome">
      <div class="jumbotron">
        <h1>Bienvenidos</h1>
        <P><a href="http://mean201711.herokyapp.com">[CLASE] Acerca de MEAN</a> Desde Martes, el 21 de Noviembre, 2017</p>
        <P><a href="http://git201801.herokyapp.com">[CLASE] Básico de GIT</a> Dese Martes, el 2 de Enero, 2018</p>
      </div>
    </div>
  </body>
</html>
