<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-welcome">
      <div class="jumbotron">
        <h1>Bienvenidos</h1>
        <P>2017 Semestre de Primavera <a href="http://ctapy.herokyapp.com">Solicitud de Libros</a> el 20 de Octubre de 2017</p>
      </div>
    </div>
  </body>
</html>
