<!-- views/solicituds/index.ejs-->

<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>

  <div class="container solicitud solicitud-index">
   <h2>Index</h2>
   <ul class="list-group">
    <% solicituds.forEach(function(solicitud) { %>
     <li class="list-group-item">
      <a href="/solicituds/<%= solicitud._id %>"><%= solicitud.título %></a>
     </li>
    <% }) %>
   </ul>
  </div>
 </body>
</html>
